body {
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
}

.logo {
    color: white;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu {
    float: left;
    padding-left: 432px;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.menu a {
    color: white;
}

.main {
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/%D1%84%D0%BE%D0%BD.jpg) center/cover no-repeat;
}

.title_container {
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
}

.title_container h1 {
    font-size: 60px;
    font-weight: bold;
}

.title_container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title_container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
}

.forme {
    text-align: center;
    width: 100%;
    height: 2403px;
    float: left;
    padding: 363px;
}

.img1 {
    padding: 50px;
    width: 233px;
}

.forme .img2 {
    padding: 100px;
    height: 673px;
}

.forme p {
    text-align: left;
    font-size: 25px;
    padding: 20px;
}

.forme input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: url(../img/button.png);
    border-radius: 10px;
    color: #6d7682;
    font-size: 20px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
}

h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.Ican {
    text-align: center;
    float: left;
    background: url(../img/fon2.png)center/cover no-repeat;
    width: 100%;
    height: 1253px;
    padding: 363px;
}

.Ican .pr {
    float: left;
    width: 25%;
    padding: 100px;
    height: 200px;
}

.Ican .pr p{
    font-size: 19px;
    width: 300px;
    padding: 10px;
    float: left;
}

.Ican h4 {
    font-size: 30px;
    text-align: center;
    color: #cf7600;
    width: 300px;
    float: left;
    padding: 10px;
}

.info img {
    padding: 0px 100px 100px 100px;
}

.kejs {
    text-align: center;
    width: 100%;
    height: 1703px;
    padding: 363px;
    float: left;
}

.kejs .kk {
    padding: 50px;
    
}

.kejs div {
    float: left;
    padding: 0px 40px 0px 0px;
}

.kejs p {
    font-size: 20px;
}

.kejs .np {
    text-align: left;
    width: 70%;
}

.kejs h3 {
    font-size: 40px;
}

.kejs input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: #63b5ae;
    border-radius: 5px;
    color: #fff;
    font-size: 23px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
    text-transform: uppercase;
}

.kejs .np p {
    font-size: 30px;
}

.kejs .ss p {
    font-size: 20px;
}

.calc {
    text-align: center;
    width: 100%;
    height: 1500px;
    padding: 363px;
    float: left;
}

.calc h3 {
    text-align: left;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.calc select {
    border: 2px round #6d7682;
    text-align: left;
    width: 100%;
    font-size: 20px;
    background: #eee;
    padding: 10px;
}

.calc .p {
    padding: 50px;
    text-align: left;
    font-size: 20px;
}

.statistic {
    float: left;
    background: url(../img/fon3.png)center/cover no-repeat;
    text-align: center;
    width: 100%;
    height: 1273px;
    padding: 363px;
}

.statistic .st {
    float: left;
    width: 25%;
    padding: 130px;
    font-size: 20px;
    font-weight: bold;
}

.statistic .st p{
    font-size: 40px;
    font-weight: bold;
}

.statistic .st h5{
    font-size: 20px;
    text-align: left;
    white-space: nowrap;
    margin-right: 40px;
}

.koment {
    float: left;
    text-align: center;
    width: 100%;
    height: 1500px;
    padding: 363px;
}

.koment p {
    padding: 50px;
    font-size: 20px;
}

.koment h3 {
    padding: 50px;
    font-size: 20px;
}

.kontakt {
    float: left;
    background: url(../img/%D0%A4%D0%BE%D0%BD.png)center/cover no-repeat;
    text-align: center;
    width: 100%;
    height: 1400px;
    color: white;
    padding: 200px;
    font-size: 20px;
}

.kontakt .email {
    width: 100%;
    font-size: 20px;
}

.dan {
    float: left;
    width: 33%;
    padding: 100px;
}

.dan p {
    color: white;
}

.email {
    float: left;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.email .emm1{
    width: 45%;
    float: left;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    
}

.email .emm2{
    width: 45%;
    float: right;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    
}

.email .ms {
    padding: 10px;
    width: 100%;
}

.email .but {
    height: 50px;
    text-align: center;
    border: 3px solid white;
    background: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 0px 20px;
    margin: 50px 14px 0px 14px;
}

.contact {
    width: 100px;
}

footer {
    width: 100%;
    height: 60px;
    background: #344051;
}

footer p {
    color: white;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
}
