body {
    font-family: Arial, sans-serif;
}

#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 3.5s;
    animation-name: animatebottom;
    animation-duration: 3.5s
}

@-webkit-keyframes animatebottom {
    0% {
        bottom: -100px;
        opacity: 0
    }
    
    80% {
        bottom: -100px;
        opacity: 0
    }

    100% {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    0% {
        bottom: -100px;
        opacity: 0
    }
    
    80% {
        bottom: -100px;
        opacity: 0
    }

    100% {
        bottom: 0px;
        opacity: 1
    }
}

header {
    z-index: 2
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
}

.logo {
    color: white;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
    -webkit-animation: com 2s;
    -o-animation: com 2s;
    animation: com 2s;
    transition: all 1s;
    transform: scale(1);
}

.logo:hover{
    transform: scale(1.2);
    color: #e88604;
}

main {
    width: 100%;
    height: 100%;
    z-index: 1;
}

@keyframes com {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menu {
    float: left;
    padding-left: 432px;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: stw 0.4s ease forwards;
    -moz-animation: stw 0.4s ease forwards;
    animation: stw 0.4s ease forwards;
    opacity: 0;
}

@keyframes stw {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 0.8s;
}

.menu li:nth-child(4) {
    animation-delay: 1.2s;
}

.menu li:nth-child(5) {
    animation-delay: 1.6s;
}

.menu li:nth-child(6) {
    animation-delay: 2s;
}

.menu li a {
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.menu li a:visited {
    color: white;
}

.menu li a:hover {
    color: #e88604;
}

.menu li a:active {
    transform: scale(1.1);
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/%D1%84%D0%BE%D0%BD.jpg) center/cover no-repeat;
}

.title_container {
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: qwq 1s ease forwards;
    -o-animation: qwq 1s ease forwards;
    animation: qwq 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

.title_container h1 {
    font-size: 60px;
    font-weight: bold;
}

.title_container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title_container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
    transition: all 0.2s;
    transform: scale(1);
}

.title_container input:hover {
    background: #344051;
    color: white;
}

.title_container input:active {
    transform: scale(1.1);
}

@keyframes qwq {
    from {
        opacity: 0;
        margin-left: -1000px;
    }

    to {
        opacity: 1;
        margin-left: 404px;
    }
}

.forme {
    text-align: center;
    width: 100%;
    height: 100%;
    float: left;
    padding: 50px;
    -webkit-animation: com 5s;
    -o-animation: com 5s;
    animation: com 5s;
}

.img1 {
    padding: 50px;
    width: 190px;
}


.forme .img2 {
    padding: 50px;
    height: 350px;
}

.forme p {
    text-align: left;
    font-size: 25px;
    padding: 20px 0px 0px 300px;
    width: 80%;
}

.forme input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: url(../img/button.png);
    border-radius: 10px;
    color: #6d7682;
    font-size: 20px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
    transition: all 0.2s;
    transform: scale(1);
}

.forme input:hover {
    background: #344051;
    color: white;
}

.forme input:active {
    transform: scale(1.1);
}

h2 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.Ican {
    text-align: center;
    float: left;
    background: url(../img/fon2.png)center/cover no-repeat;
    width: 100%;
    height: 100%;
    padding: 200px;
    -webkit-animation: com 5s;
    -o-animation: com 5s;
    animation: com 5s;
}

.Ican .pr {
    float: left;
    width: 25%;
    padding: 100px;
    height: 200px;
    display: inline-block;
}

.Ican .pr p {
    font-size: 19px;
    width: 300px;
    padding: 10px;
    float: left;
}

.Ican h4 {
    font-size: 30px;
    text-align: center;
    color: #cf7600;
    width: 300px;
    float: left;
    padding: 10px;
}

.info img {
    padding: 0px 100px 100px 100px;
}

.kejs {
    text-align: center;
    width: 100%;
    height: 150%;
    padding: 100px;
    float: left;
    -webkit-animation: com 5s;
    -o-animation: com 5s;
    animation: com 5s;
}

.kejs .kk {
    padding: 50px;
    margin-left: 250px;
}

.kejs div {
    float: left;
    padding: 0px 40px 0px 0px;
    margin-left: 100px;
}

.kejs p {
    font-size: 20px;
}

.kejs .np {
    text-align: left;
    width: 70%;
}

.kejs h3 {
    font-size: 40px;
}

.kejs input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: #63b5ae;
    border-radius: 5px;
    color: #fff;
    font-size: 23px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
    text-transform: uppercase;
    transition: all 0.2s;
    transform: scale(1);
}

.kejs .np p {
    font-size: 30px;
}

.kejs .ss p {
    font-size: 20px;
}

.ss input:hover {
    background: #344051;
    color: white;
}

.ss input:active {
    transform: scale(1.1);
}

.calc {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 200px;
    float: left;
    border: solid;
    border: 2px round #6d7682;
    -webkit-animation: com 5s;
    -o-animation: com 5s;
    animation: com 5s;
}

.calc h3 {
    text-align: left;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.calc select {
    text-align: left;
    width: 100%;
    font-size: 20px;
    background: #eee;
    padding: 10px;
    transition: all 0.2s;
}

.calc select:hover {
    background: #344051;
    color: white;
}

.calc .p {
    float: left;
    padding: 50px;
    text-align: left;
    font-size: 20px;
    width: 30%;
}

.calc .k {
    width: 30%;
    float: right;
    padding: 50px;
    text-align: right;
    font-size: 20px;
}

.statistic {
    float: left;
    background: url(../img/fon3.png)center/cover no-repeat;
    text-align: center;
    width: 100%;
    height: 75%;
    padding: 200px;
    -webkit-animation: com 5s;
    -o-animation: com 5s;
    animation: com 5s;
}

.statistic .st {
    float: left;
    width: 25%;
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}

.statistic .st p {
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
}

.statistic .st h5 {
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    padding: 5px;
}

.koment {
    float: left;
    text-align: center;
    width: 100%;
    height: 75%;
    padding: 50px;
    -webkit-animation: com 5s;
    -o-animation: com 5s;
    animation: com 5s;
}

.koment p {
    padding: 50px;
    font-size: 20px;
}

.koment h3 {
    padding: 50px;
    font-size: 20px;
}

.kontakt {
    float: left;
    background: url(../img/%D0%A4%D0%BE%D0%BD.png)center/cover no-repeat;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    padding: 50px;
    font-size: 20px;
    -webkit-animation: com 5s;
    -o-animation: com 5s;
    animation: com 5s;
}

.kontakt .email {
    width: 100%;
    font-size: 20px;
}

.dan {
    float: left;
    width: 33%;
    padding: 20px;
    display: inline-block;
    transition: all 0.5s;
    transform: scale(1);
}

.dan:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px 5px gray;
}

.dan p {
    color: white;
    padding: 10px;
}

.dan img {
    width: 40px;
}

.email {
    float: left;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    -webkit-animation: com 5s;
    -o-animation: com 5s;
    animation: com 5s;
}

.email .emm1 {
    width: 45%;
    float: left;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;

}

.email .emm2 {
    width: 45%;
    float: right;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;

}

.email .ms {
    padding: 10px;
    width: 100%;
}

.email .but {
    height: 50px;
    text-align: center;
    border: 3px solid white;
    background: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 0px 20px;
    margin: 50px 14px 0px 14px;
    transition: all 0.2s;
    transform: scale(1);
}

.email .but:hover {
    background: white;
    color: black;
    border: 3px solid black;
}

.email .but:active {
    transform: scale(1.1);
}

.contact {
    width: 100px;
}

.footer {
    width: 100%;
    height: 60px;
    background: #344051;
    -webkit-animation: com 5s;
    -o-animation: com 5s;
    animation: com 5s;
}

.footer p {
    color: white;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
}
